@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes copied {
  0% {
    background-color: green;
  }
  100% {
    background-color: rgb(0, 194, 0);
  }
}

.button {
  height: 32px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #b1b4ef;
  transition: background-color 200ms ease;
  cursor: pointer;
  &:hover {
    background-color: #767cee;
  }
  &:active {
    animation: bounce 0.3s ease;
  }
}
