.container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}