.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    user-select: none;
    margin: 0 auto;
}

.see-results-button {
    padding: 8px;
    border-radius: 10px;
}
