.container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.stats-button {
  height: 32px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #b1b4ef;
  transition: background-color 200ms ease;
  cursor: pointer;
  &:hover {
    background-color: #8c91f0;
  }
  &:active {
    animation: bounce 0.3s ease;
  }
}
