.container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stats-button {
  height: 32px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #b1b4ef;
}
